*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
        /* border: red solid 1px; */
}

body {
    background-color: #1B1924;
    font-family: 'Josefin Sans', sans-serif;
    color: #FFFFFF;
}

section {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 390px;
}

img {
    width: 90px;
    margin-top: 4em;
}

h1 {
    margin: 1.25rem 0;
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    width: 317px;
    height: 118px;
    padding: 0.75em 1em;
    border: none;
    border-radius: 8px;
    background-color: #444059;
    color: #8F8F8F;
    resize: none;
}

.fromTo {
    display: flex;
    justify-content: space-between;
    width: 317px;
    margin: 9px 0;
}

input {
    width: 153px;
    height: 40px;
    border: none;
    border-radius: 8px;
    background-color: #444059;
    font-family: 'Inter', sans-serif;
    text-align: center;
    color: #8F8F8F;
}

button {
    width: 317px;
    height: 61px;
    border-radius: 8px;
    background-color: #28A9F1;
    font-size: 1.375em;
    font-weight: bold;
    color: #04131C;
    cursor: pointer;
}

h2 {
    margin: 1.25rem 0;
    margin-bottom: 1.25em;
    font-size: 1.25em;
}

#comments {
    display: flex;
    flex-direction: column-reverse;
    gap: 0.75em;
}

.comment {
    width: 317px;
    padding: 0.75rem 1rem;
    background-color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-size: 0.75em;
    color: #1B1924;
}

h4 {
    text-transform: capitalize;
    color: #1B1924;
    font-size: 0.875em;
}

p {
    margin: 10px 0;
    color: #1B1924;
}